#wrapper {
  width: 100%;
  height: 100%;
}

#sidebar {
  padding: 15px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: blue;
}

#content {
  position: fixed;
  left:200px;
  top: 0;
  width: 100%;
  height: 100%;
}

#marq {
  font-size: 20px;
    line-height: 30px;
    height:30px;
    width: 100%;
  white-space: nowrap;
  -moz-animation:  caption 50s linear 0s infinite;
  -webkit-animation:  caption 50s linear 0s infinite;
}

@-moz-keyframes marq { 0% { margin-left:120%; } 100% { margin-left:-4200px; }  }
@-webkit-keyframes marq { 0% { margin-left:120%; } 100% { margin-left:-4200px; }  }

#slefie {
  padding: 15px;
  position: absolute;
  right:10;
  top:10;
  width: 150px;
  height: 150px;
  background-color: red;
}
  
